* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #212121;
}

.open-sans {
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

img {
  display: block;
}

.container {
  width: 1440px;
  margin-inline: auto;
  padding-inline: 165px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.right-nav-icons {
  align-items: center;
  display: flex;
  gap: 40px;
}

.right-nav-icons a {
  position: relative;
}

.cart-value {
  position: absolute;
  right: -10px;
  top: -5px;
}

.header {
  margin-top: 80px;
}

.header h1 {
  margin-right: 286px;
}

.author-datas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
}

.author-metadata {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-metadata span {
  color: #52647c;
  font-size: 14px;
  line-height: 24px;
}

.author-socials {
  display: flex;
  gap: 16px;
}

.main-content {
  margin-top: 24px;
}

.main-content p {
  margin-top: 24px;
  line-height: 28px;
}

.product-content {
  display: flex;
  gap: 24px;
  margin-top: 80px;
}

.product-text-content h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

.product-text-content p {
  line-height: 28px;
}

.RoaldDahl {
  text-align: center;
  margin-top: 80px;
  background-color: #ecf1f8;
  padding: 96px 125px;
}

.RoaldDahl h2 {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  margin-bottom: 16px;
}

.RoaldDahl h6 {
  font-size: 20px;
  line-height: 30px;
}

.video-content {
  margin-top: 128px;
}

.video-content h2 {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  margin-bottom: 32px;
}

.card-contents {
  margin-top: 128px;
  margin-bottom: 40px;
}

.cards-area {
  margin-top: 40px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  width: calc((100% / 3) - (24px * 2) / 3);
  box-shadow: 0px 8px 24px 0px #28293d14;
  padding: 16px 24px;
  border-radius: 6px;
}

.card img {
  width: 100%;
}

.card h2 {
  font-size: 20px;
  margin-top: 16px;
  line-height: 30px;
}

.card p {
  color: #52647c;
  font-size: 14px;
  line-height: 24px;
}

.footer-top {
  gap: 24px;
  margin-top: 80px;
  padding: 72px 165px;
  justify-content: center;
  display: flex;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.footer-column {
  flex-basis: 165px;
}

.footer-top h4 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.footer-top ul {
  color: #807e7e;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.footer-top li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-input-content {
  text-align: right;
  flex-basis: 354px;
}

.footer-input-content form {
  position: relative;
  display: flex;
  align-items: center;
  width: 338px;
  margin-left: auto;
}

.footer-input-content input {
  width: 338px;
  height: 48px;
  border: 1px solid #eaeaea;
  outline: none;
  padding: 12px 16px;
}

.footer-input-content button {
  position: absolute;
  right: 1.5px;
  padding: 22.5px 31.5px;
  background: url("../img/bottom-arrow-icon.svg") center no-repeat, #0d6efd;
  border: none;
}

button:hover {
  cursor: pointer;
}

.footer-bot {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 24px 165px;
}

.footer-bot h4 {
  color: #959393;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 493px;
}

.social-media {
  margin-left: auto;
  display: flex;
  gap: 40px;
}
